body {
  font-family: "Verdana", sans-serif;
  background: url("../images/waterbrush-body-bg.jpg") no-repeat;
}

h1 {
  font-size: 42px;
  color: #0489B7;
  font-family: 'Droid Serif','DejaVu Serif',Cambria,Georgia,serif;
  font-weight: normal;
}

div {
  padding: 0px;
  margin: 0px;
}

ul {
  list-style-image: url(../images/bullet.png);
}

#boxes {

}

#boxes > div {
  margin: 10px;
  width: 150px;
  height: 150px;
  -moz-border-radius: 4px;
  /*display: inline-block;*/
  background-color: #73d216;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center center;
  float: left;
}

#boxes > div {
  cursor: pointer;
}

#adopt {
  background-image: url("../images/adopt-normal.png");
}

#adopt.greyed {
    background-image: url("../images/adopt-inactive.png") !important;
}

#associate {
  background-image: url("../images/associate-normal.png");
}

#associate.greyed {
    background-image: url("../images/associate-inactive.png") !important;
}

#sponsor {
  background-image: url("../images/sponsor-normal.png");
}

#sponsor.greyed {
    background-image: url("../images/sponsor-inactive.png") !important;
}

#philanthropist {
  background-image: url("../images/philanthropist-normal.png");
}

#philanthropist.greyed {
    background-image: url("../images/philanthropist-inactive.png") !important;
}

.active-text {
  font-size: 12px;
  padding: 1em;
  visibility: hidden;
  text-align: center;
  height: 65%;
}

/* relative position, bottom, left */
.level-text {
    position: relative;
    /* really ugly, why does this work? */
    text-align: center;
    height: 35%;
}

.greyed {
    background-color: #d3d7cf !important;
    color: #babdb6;
}


div#below {
    margin: 10px;
    padding: 0px;
    position: relative;
    width: 660px;
    clear: both;
}

p#donation-details {
    text-align: center;
    font-weight: bold;
}

div#below > p {
    text-align: center;
}

p.hidden {
    display: none;
}

div#below > form {
    display: none;
}


/* allow room for 3 columns */
#below ul {
    width: 700px;
}


/* float & allow room for the widest item */
#below ul li {
    float: left;
    width: 200px;
    list-style: none;
}

/* stop the float */
#below br {
    clear: left;
}

/* Get rid of some 960 spacing */
#below li {
  margin-left: 0px;
}

/* separate the list from subsequent markup */
div.wrapper {
    margin-bottom: 1em;
}

#foundation-info {

  padding: 10px;
  width: 650px;
}

small {
  font-size: 12px;
  color: gray;
}

.sidebar {
  background: #fff;
  margin: -1px;
  margin-top: 20px;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  -moz-border-radius: 5px;
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}


.footer-art {
  height: 180px;
  background: url('../images/footer-friends.png') no-repeat bottom center;
}

.footer-grass {
  height: 39px;
  background-image: url('../images/grass.png');
  margin-top: -39px;
}

.footer {
  background: #d3d7cf;
  height: 100px;
}

.footer .grid_24 {
  text-align: center;
  margin-top: 30px;
  color: #676c72;
}
